<div class="row">
  <div class="col-md-12 login-from-row">
    <label>choose a sport:</label>
    <select name="sport">
      {{#each sports as |sport|}}
<<<<<<< HEAD
        <option value="{{sport.id}}" id="{{sport.id}}">{{sport.name}}</option>
=======
        <option name="{{sport.name}}" value="{{sport.id}}" id="{{sport.id}}">{{sport.name}}</option>
>>>>>>> 4d2e70733193e51749039828e878047681ba9848
      {{/each}}
    </select>
  </div>
</div>