<div class="container">
  {{#if user.isNew}}
  {{else}}
    {{>navbar}}
  {{/if}}
  <div class="row text-center login-page">
	   <div class="col-md-12 login-form">
	      <form {{#if user.isNew}} action="/clubs" {{else}} action="/clubs/{{user.name}}/edit"{{/if}} method="POST" enctype="multipart/form-data">

          {{#if user.isNew}}
	        <div class="row">
		        <div class="col-md-12 login-form-header">
		          <p class="login-form-font-header">New<span>Club</span><p>
		        </div>
		      </div>

          {{else}}
            {{>titleForm}}
          {{/if}}

          {{>nameForm}}
          {{#if user.isNew}}
          {{>emailForm}}
          {{/if}}
          {{>passwordForm}}
          {{>addressForm}}
          {{>cityForm}}
          {{>photoForm}}
          {{>timeForm}}

          <div class="col-md-12 login-from-row">
            <button class="btn btn-info">
              {{#if user.isNew}}
              Sign up
              {{else}}
              Edit
              {{/if}}
            </button>
          </div>
          
          {{#if user.isNew}}
          <div class="row">
		        <div class="col-md-12 login-from-row">
              <p>Already have an account?</p>
              <p>
                <a href="/login"><b>Sign in</b></a>
              </p>
		        </div>
		      </div>
          {{/if}}
	      </form>
	    </div>
    </div>
</div>