<div class="profile-page container">
  {{>navbar}}
    {{>coverImage}}
<div class="main main-raised">
  <div class="profile-content">
    <div class="container">
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto">
          <div class="profile">
            <div class="avatar">
                <img src="{{user.photo}}" alt="Circle Image" class="img-raised rounded img-fluid">
            </div>
            <div class="name">
                <h3 class="user-name">{{user.name}} {{user.surname}} <small>({{user.__type}})</small></h3>
                <h6 class="user-name">Opened from: {{user.openingTime}}:00 to: {{user.closingTime}}:00</h6>
            </div> 
          </div>
        </div>
      </div>
      <div class="description text-center">
        <ul class="unstyled">
          {{#each courts as |court|}}
            <li>
              {{court.name}} 
              <button type="button" class="close" aria-label="Close" 
                onclick="removeCourt('{{../user.name}}', '{{court._id}}', this)">
                  <span aria-hidden="true">&times;</span>
                </button>
            </li>
          {{/each}}
        </ul>
      </div>
      <div class="row">
        <div class="col-md-12 ml-auto mr-auto">
          <div class="profile-tabs">
            <ul class="nav nav-pills nav-pills-icons justify-content-center mb-4">
              <li class="nav-item">
                <a class="nav-link active" href="/clubs/{{user.name}}/courts/new">
                  <i class="request-match-btn">Add court</i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
	</div>
</div>